header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
  text-decoration: none;
  color: black;
  
}
#logo{
  height: 40px;
}


header{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.39);
  padding: 15px 0 ;
  margin-bottom: 10px;
}
header nav img {
  height: 25px;
}

header nav  div{
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}
h3, p {
  margin: 7px 0;
}

button{
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  padding: 5px 10px ;
  border: unset;
  border-radius: 8px ;
  cursor: pointer;
}
#numeroCarrito{
  background-color: red;
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  text-align: center;
  line-height: 20px;
  position: absolute;
}


footer{
  text-align: center;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.404);
  margin-top: auto;
  
}

